<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services/">Services</a>
      <a href="/sectors/">Sectors</a>
      <a href="/about/">About</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; Cyrisk Limited 2023<br/>Cyrisk Limited is registered in England under number 12974331 with its registered address at 1a Bonnington Road, Mapperley, Nottingham NG3 5JR<br/>
  CyRisk and the CyRisk logo are registered trademarks of Cyrisk Limited<br/><a href="/PrivacyNotice/" target="_blank">Privacy Notice</a></p>
      <div class="p-3">
      <a href="https://registry.blockmarktech.com/certificates/ca35632d-907c-4ae8-a4cd-8ecfb0bf4b83" target="_blank" rel="noopener noreferrer"><img src="images/celogo.png" alt="" height="80" title="Cyber Essentials Logo"></a>
     </div>
      <div class="p-3">
      <img src="images/ccssuplogo.jpg" alt="" height="80" title="Crown Commercial Services Supplier Logo">
      </div>
      <div class="p-3">
      <img src="images/fsb-member-logo-PNG.png" alt="" height="80" title="Federation of Small Business Member Logo">
      </div>
    </div>
    </footer>
  </body>
</html>
