<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="/images/ico.png">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<div class="container">
  <a class="navbar-brand" href="/"><img src="/images/cyrisk_r_inv.svg" height="30" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="index.php?page=services" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="index.php?page=risk">Risk Management</a></li>
          <li><a class="dropdown-item" href="index.php?page=arch">Security Architecture</a></li>
          <li><a class="dropdown-item" href="index.php?page=virtual">Virtual Resourcing</a></li>
          <li><a class="dropdown-item" href="index.php?page=physical">Physical Security</a></li>
          <li><a class="dropdown-item" href="index.php?page=supply">Supply Chain Risk</a></li>
          <li><a class="dropdown-item" href="index.php?page=isms">ISO 27001</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?page=main">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?page=packages">Solutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?page=sectors">Sectors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?page=about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>

    </ul>
  </div>
  <div class="d-grid gap-3 d-md-block">
  <div class="row">
  <div class="col">
  <a href="https://www.linkedin.com/company/cyrisk/" target="_blank" rel="noopener noreferrer"><i class="bi-linkedin" style="font-size: 2rem; color: white;"></i></a>
  </div>
  <div class="col">
  <a href="https://twitter.com/cyrisk_uk" target="_blank" rel="noopener noreferrer"><i class="bi-twitter" style="font-size: 2rem; color: white;"></i></a>
  </div>
  <div class="col">
  <a href="https://github.com/cyrisk-uk" target="_blank" rel="noopener noreferrer"><i class="bi-github" style="font-size: 2rem; color: white;"></i></a>
  </div>
  </div>
  </div>
</div>
</nav>
    <main role="main">
    <div class="container">
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    </div>
    </main>
    <footer class="container">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; Cyrisk Limited 2023<br/>Cyrisk Limited is registered in England under number 12974331 with its registered address at 1a Bonnington Road, Mapperley, Nottingham NG3 5JR<br/>
  CyRisk and the CyRisk logo are registered trademarks of Cyrisk Limited<br/><a href="/PrivacyNotice/" target="_blank">Privacy Notice</a></p>
      <div class="p-3">
      <a href="https://registry.blockmarktech.com/certificates/ca35632d-907c-4ae8-a4cd-8ecfb0bf4b83" target="_blank" rel="noopener noreferrer"><img src="images/celogo.png" alt="" height="80" title="Cyber Essentials Logo"></a>
     </div>
      <div class="p-3">
      <img src="images/ccssuplogo.jpg" alt="" height="80" title="Crown Commercial Services Supplier Logo">
      </div>
     <!-- <div class="p-3">
      <img src="images/fsb-member-logo-PNG.png" alt="" height="80" title="Federation of Small Business Member Logo">
      </div> -->
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
